/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

/* HEADER */
header {
    background-color: #e10600;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* MAIN */
main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* HERO */
.hero {
    text-align: center;
    margin-bottom: 30px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

/* CONTEÚDO */
.conteudo {
    text-align: center;
}

.conteudo img {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}

.titulo-secao {
    margin-bottom: 20px;
}

.produtos {
    margin-top: 30px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;

    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input, textarea, button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background-color: #e10600;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* RESPONSIVO */
@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}